---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <div class="bg-slate-50 py-24 sm:py-32">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
            <div class="mx-auto max-w-2xl text-center">
                <h2 class="text-base/7 font-semibold text-brand tracking-wide uppercase">Case Studies</h2>
                <p class="mt-2 text-4xl font-bold tracking-tight text-slate-950 sm:text-5xl">Everything you need to know
                    about my work</p>
            </div>

            <div class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">

                <article class="flex flex-col items-start justify-between group cursor-pointer">
                    <div class="relative w-full overflow-hidden rounded-2xl">
                        <img src="/DestinationDecoderExp.svg" alt=""
                            class="aspect-[16/9] w-full bg-slate-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2] transition-transform duration-500 group-hover:scale-105" />
                        <div
                            class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-slate-900/10 pointer-events-none">
                        </div>
                    </div>
                    <div class="max-w-xl w-full">
                        <div class="mt-6 flex items-center gap-x-4 text-xs">
                            <span class="text-slate-500">2024-2025</span>
                            <span
                                class="relative z-10 rounded-full bg-white px-3 py-1.5 font-medium text-slate-600 ring-1 ring-slate-200">Travel
                                & AI</span>
                        </div>
                        <div class="group relative">
                            <h3 class="mt-3 text-xl font-bold text-slate-900 group-hover:text-brand transition-colors">
                                <a href="/scaling-growth">
                                    <span class="absolute inset-0"></span>
                                    Scaling Growth through Motion & Systems
                                </a>
                            </h3>
                            <p class="mt-4 line-clamp-3 text-sm/6 text-slate-600">Leading cross-platform experiences for
                                web and mobile. Contributed to $14.9M GP and 1.48M installs by surpassing annual targets
                                by 148%.</p>
                        </div>
                        <div class="relative mt-8 flex items-center gap-x-4 border-t border-slate-100 pt-6">
                            <img src="/expedia-logo.png" alt=""
                                class="size-10 rounded-full bg-slate-50 object-cover ring-1 ring-slate-200" />
                            <div class="text-sm/6">
                                <p class="font-bold text-slate-900">Expedia Group</p>
                                <p class="text-slate-600">Product Designer</p>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="flex flex-col items-start justify-between group cursor-pointer">
                    <div class="relative w-full overflow-hidden rounded-2xl">
                        <img src="https://images.unsplash.com/photo-1507238691740-187a5b1d37b8?q=80&w=800&auto=format&fit=crop"
                            alt=""
                            class="aspect-[16/9] w-full bg-slate-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2] transition-transform duration-500 group-hover:scale-105" />
                        <div
                            class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-slate-900/10 pointer-events-none">
                        </div>
                    </div>
                    <div class="max-w-xl w-full">
                        <div class="mt-6 flex items-center gap-x-4 text-xs">
                            <span class="text-slate-500">2025-Present</span>
                            <span
                                class="relative z-10 rounded-full bg-white px-3 py-1.5 font-medium text-slate-600 ring-1 ring-slate-200">Design
                                Systems, VD & Design Ops</span>
                        </div>
                        <div class="group relative">
                            <h3 class="mt-3 text-xl font-bold text-slate-900 group-hover:text-brand transition-colors">
                                <a href="#">
                                    <span class="absolute inset-0"></span>
                                    Elevating Design Excellence & Ops at Scale
                                </a>
                            </h3>
                            <p class="mt-4 line-clamp-3 text-sm/6 text-slate-600">Redesigned, managed and evolved
                                complex UI libraries for a Fortune 500 client, ensuring 100% design-to-dev alignment.
                            </p>
                        </div>
                        <div class="relative mt-8 flex items-center gap-x-4 border-t border-slate-100 pt-6">
                            <img src="/Air-Liquide-logo.png" alt=""
                                class="size-10 rounded-full bg-slate-50 object-cover ring-1 ring-slate-200" />
                            <div class="text-sm/6">
                                <p class="font-bold text-slate-900">Air Liquide</p>
                                <p class="text-slate-600">Design Lead</p>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="flex flex-col items-start justify-between group cursor-pointer">
                    <div class="relative w-full overflow-hidden rounded-2xl">
                        <img src="/Coign.png" alt=""
                            class="aspect-[16/9] w-full bg-slate-900 object-cover object-left-top sm:aspect-[2/1] lg:aspect-[3/2] transition-transform duration-500 group-hover:scale-105" />
                        <div
                            class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-slate-900/10 pointer-events-none">
                        </div>
                    </div>
                    <div class="max-w-xl w-full">
                        <div class="mt-6 flex items-center gap-x-4 text-xs">
                            <span class="text-slate-500">2025</span>
                            <span
                                class="relative z-10 rounded-full bg-white px-3 py-1.5 font-medium text-slate-600 ring-1 ring-slate-200">UX & Design Ops</span>
                        </div>
                        <div class="group relative">
                            <h3 class="mt-3 text-xl font-bold text-slate-900 group-hover:text-brand transition-colors">
                                <a href="#">
                                    <span class="absolute inset-0"></span>
                                    Optimizing the Bench LATAM Design Operations Lifecycle
                                </a>
                            </h3>
                            <p class="mt-4 line-clamp-3 text-sm/6 text-slate-600">I led a strategic discovery initiative to map the end-to-end Epamer Journey, identifying structural bottlenecks and cross-functional dependencies to streamline operations for the LATAM region.</p>
                        </div>
                        <div class="relative mt-8 flex items-center gap-x-4 border-t border-slate-100 pt-6">
                            <img src="/EPAM-logo.png" alt=""
                                class="size-10 rounded-full bg-slate-50 object-cover ring-1 ring-slate-200" />
                            <div class="text-sm/6">
                                <p class="font-bold text-slate-900">EPAM</p>
                                <p class="text-slate-600">Lead UX Designer</p>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="flex flex-col items-start justify-between group cursor-pointer">
                    <div class="relative w-full overflow-hidden rounded-2xl">
                        <img src="/Coign.png" alt=""
                            class="aspect-[16/9] w-full bg-slate-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2] transition-transform duration-500 group-hover:scale-105" />
                        <div
                            class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-slate-900/10 pointer-events-none">
                        </div>
                    </div>
                    <div class="max-w-xl w-full">
                        <div class="mt-6 flex items-center gap-x-4 text-xs">
                            <span class="text-slate-500">2023</span>
                            <span
                                class="relative z-10 rounded-full bg-white px-3 py-1.5 font-medium text-slate-600 ring-1 ring-slate-200">Fintech & Visual Design
                                </span>
                        </div>
                        <div class="group relative">
                            <h3 class="mt-3 text-xl font-bold text-slate-900 group-hover:text-brand transition-colors">
                                <a href="#">
                                    <span class="absolute inset-0"></span>
                                    Architecting an "Unmissable" Experience
                                </a>
                            </h3>
                            <p class="mt-4 line-clamp-3 text-sm/6 text-slate-600">Spearheaded a robust Web App that unified applicant management, earning praise from The Wall Street Journal.</p>
                        </div>
                        <div class="relative mt-8 flex items-center gap-x-4 border-t border-slate-100 pt-6">
                            <img src="/coign-logo.png" alt=""
                                class="size-10 rounded-full bg-slate-50 object-cover ring-1 ring-slate-200" />
                            <div class="text-sm/6">
                                <p class="font-bold text-slate-900">Coign</p>
                                <p class="text-slate-600">Product Designer</p>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="flex flex-col items-start justify-between group cursor-pointer">
                    <div class="relative w-full overflow-hidden rounded-2xl">
                        <img src="/DestinationDecoderExp.svg" alt=""
                            class="aspect-[16/9] w-full bg-slate-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2] transition-transform duration-500 group-hover:scale-105" />
                        <div
                            class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-slate-900/10 pointer-events-none">
                        </div>
                    </div>
                    <div class="max-w-xl w-full">
                        <div class="mt-6 flex items-center gap-x-4 text-xs">
                            <span class="text-slate-500">2022</span>
                            <span
                                class="relative z-10 rounded-full bg-white px-3 py-1.5 font-medium text-slate-600 ring-1 ring-slate-200">Production & Data Architecture</span>
                        </div>
                        <div class="group relative">
                            <h3 class="mt-3 text-xl font-bold text-slate-900 group-hover:text-brand transition-colors">
                                <a href="#">
                                    <span class="absolute inset-0"></span>
Revolutionizing Production Planning at Scale                                </a>
                            </h3>
                            <p class="mt-4 line-clamp-3 text-sm/6 text-slate-600">Reduced development time by 20% and increased customer satisfaction by 15% by...</p>
                        </div>
                        <div class="relative mt-8 flex items-center gap-x-4 border-t border-slate-100 pt-6">
                            <img src="/ekos-logo.png" alt=""
                                class="size-10 rounded-full bg-slate-50 object-cover ring-1 ring-slate-200" />
                            <div class="text-sm/6">
                                <p class="font-bold text-slate-900">Ekos</p>
                                <p class="text-slate-600">Product Designer</p>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="flex flex-col items-start justify-between group cursor-pointer">
                    <div class="relative w-full overflow-hidden rounded-2xl">
                        <img src="/DestinationDecoderExp.svg" alt=""
                            class="aspect-[16/9] w-full bg-slate-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2] transition-transform duration-500 group-hover:scale-105" />
                        <div
                            class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-slate-900/10 pointer-events-none">
                        </div>
                    </div>
                    <div class="max-w-xl w-full">
                        <div class="mt-6 flex items-center gap-x-4 text-xs">
                            <span class="text-slate-500">2021</span>
                            <span
                                class="relative z-10 rounded-full bg-white px-3 py-1.5 font-medium text-slate-600 ring-1 ring-slate-200">Payments
                                & Visual Design</span>
                        </div>
                        <div class="group relative">
                            <h3 class="mt-3 text-xl font-bold text-slate-900 group-hover:text-brand transition-colors">
                                <a href="#">
                                    <span class="absolute inset-0"></span>
                                    UI Library for B2B payments webapp
                                </a>
                            </h3>
                            <p class="mt-4 line-clamp-3 text-sm/6 text-slate-600">Conducting an extensive audit and establishing a UI Library proved instrumental for our design team, fostering the ability to suggest and craft consistently cohesive interfaces. This initiative significantly diminished the time and effort invested in each project. The positive impact extended to our development team, who noted appreciable time savings through the reuse of components and streamlining the creation of interfaces we were designing.</p>
                        </div>
                        <div class="relative mt-8 flex items-center gap-x-4 border-t border-slate-100 pt-6">
                            <img src="/boost-logo.png" alt=""
                                class="size-10 rounded-full bg-slate-50 object-cover ring-1 ring-slate-200" />
                            <div class="text-sm/6">
                                <p class="font-bold text-slate-900">Boost</p>
                                <p class="text-slate-600">Visual Designer</p>
                            </div>
                        </div>
                    </div>
                </article>

            </div>
        </div>
    </div>
</Layout>