@import "tailwindcss";

@theme {
  --color-brand: #FB5F5F;
  --color-brand-hover: #E54848;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
      display: none;
  }
  .scrollbar-hide {
      -ms-overflow-style: none;
      scrollbar-width: none;
  }
}

:root {
  /* Define el radio que usa el componente de Tailwind UI */
  --radius-lg: 1rem; 
}